<!DOCTYPE HTML>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="description" content="Drew Goff's footer web component">
	<meta name="keywords" content="web component, footer, Drew Goff, drew goff">
	<meta name="author" content="Drew Goff">
	
	<title>UXC Dialog</title>
	
	<link href="/index.css" rel="stylesheet" />

  </head>
  
  <body>
	
	
	
	<uxc-dialog>
	 <span slot="modal-header-title">Dialog</span>
	 <p>Hello Code Indy</p>
	</uxc-dialog>

	  
	<script type="module" src="./index.js"></script>
  </body>
</html> 